################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/purchase-history-frontend/.vscode
/PurchaseHistory.Api/.vs
