<!-- src/app/components/summary-statistics/summary-statistics.component.html -->
<div class="summary-container">
  <canvas id="summaryChart"></canvas>
  <div class="statistics">
    <div class="stat-item">
      <strong>Most Expensive Month:</strong> {{ mostExpensiveMonth }}
    </div>
    <div class="stat-item">
      <strong>Month with Most Units Bought:</strong>
      {{ monthWithMostUnitsBought }}
    </div>
    <div class="stat-item">
      <strong>Most Expensive Purchase Product Name:</strong>
      {{ mostExpensivePurchaseProductName }}
    </div>
    <div class="stat-item">
      <strong>Product Name with Most Units Bought:</strong>
      {{ productNameWithMostUnitsBought }}
    </div>
  </div>
</div>
