<!-- src/app/components/purchase-list/purchase-list.component.html -->
<div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Purchased At</th>
          <th>Total Cost</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let purchase of purchases"
          (click)="selectPurchase(purchase)"
        >
          <td>{{ purchase.id }}</td>
          <td>{{ purchase.name }}</td>
          <td>{{ purchase.purchasedAt | date }}</td>
          <td>{{ purchase.totalCost | currency : "GBP" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-purchase-detail
    *ngIf="selectedPurchase"
    [purchase]="selectedPurchase"
  ></app-purchase-detail>
</div>
